parameters:
	level: 1
	paths:
		- config
		- database
		- src
	ignoreErrors:
		- "#^Call to an undefined static method static.*:\\:cursor\\(\\)\\.$#"
		- "#^Call to an undefined static method static.*:\\:where\\(\\)\\.$#"