parameters:
	level: 6
	paths:
		- config
		- database
		- src
	ignoreErrors:
		- "#^Call to an undefined static method static.*:\\:cursor\\(\\)\\.$#"
		- "#^Call to an undefined static method static.*:\\:where\\(\\)\\.$#"
		- "#^Call to an undefined method .*:\\:trashable\\(\\)\\.$#"
		- "#^Call to an undefined method .*:\\:trash\\(\\)\\.$#"
		- "#^Call to an undefined static method .*:\\:trashName\\(\\)\\.$#"
		- "#^Call to an undefined method .*:\\:withTrashed\\(\\)\\.$#"
		- "#^Property .*:\\:\\$dispatchesEvents type has no value type specified in iterable type array\\.$#"
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: false
	